.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background-color: #c23866;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}